//
//  StagingConfiguration.xcconfig
//  Build-Scheme-Example
//
//  Created by Sparkout on 02/05/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


IS_APP_NAME = Awesome App Staging
IS_APP_VERSION = 1.0
IS_APP_BUNDLE_ID = com.sparkout.test

BACKEND_URL = http:\/\/api.intensifystudio.com/stage
CONSUMER_KEY = ck_a57e4fa2e14c12ae3f400371cf2951ec3dea5_stage
CONSUMER_SECRET = cs_c847caa35ce1041e9c69d239141f13f63bb22b_stage
